name: Release

run-name: Release
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"

defaults:
  run:
    shell: bash

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Expand Placeholder
      run: |
        mv tool/expand_placeholders.sh script/.
        cd script
        chmod +x expand_placeholders.sh
        ./expand_placeholders.sh

    - name: Create zip archive
      run: |
        mv script/* .
        zip -r "GradientPlus_${VERSION}.zip" グラデーション+.anm2 README.md LICENSE.txt
      env:
        VERSION: ${{github.ref_name}}

    - name: Create release notes
      run: gh release create "${VERSION}" --generate-notes "${{github.workspace}}/*.zip"
      env:
        VERSION: ${{github.ref_name}}
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
